.navbar {
  background: #4285f4;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 60px;   
  box-shadow: 0 -1px 10px 0 black;
  position:sticky;
  top:0;
}
  
#head_title {
  font-family: 'Roboto';
  float: left;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 20px;
}

body {
  margin: 0.0em;
  font-family: 'Roboto', helvetica, sans-serif;
}

.button {
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
}

.button:hover {
  background-color: #2E60B4;
  color: white;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
